* {
    margin: 0;
    padding: 0;
}

body {
    background: rgba(232, 232, 232, .2);
    font-size: 15px;
    font-family: Arial, Helvetica, Calibri, sans-serif;
}

.content {
    margin: 30px auto 30px auto;
    padding-bottom: 45px;
    width: 660px;
    border-right: 1px solid rgb(207, 207, 207);
    border-left: 1px solid rgb(207, 207, 207);
    background-image: url(img/lightpaperfibers.png);
    box-shadow:  0px 4px 15px 1px rgba(0,0,0,0.4);
}
    
.section {
    padding-top: 25px;
}

/* общая информация, контакты */
.common-foto {
    float: left;
    padding-left: 25px;
    width: 175px;
}

.common-info {
    position: relative;
    top: 10px;
    left: 30px;
}

.common-info-title {
    padding-bottom: 7px;
}

.common-info-contact {
    padding-top: 10px;
    list-style: none;
    position: relative;
    left: 24px;
}

.common-info-contact .contact-item {
    padding: 4px 0;
}

.common-info-contact .contact-item .contact-link {
    border-bottom: 1px solid;
    cursor: pointer;
    color: #000;
    border-color: #A09B9B;
    text-decoration: none;
    position: relative;
}

.common-info-contact .contact-item .contact-link:hover {
    color: #475C73;
    border-color: #475C73;
}

.common-info-contact .contact-item .phone {
    border: none;
    text-decoration: none;
    color: #000;
}

.common-info-contact .contact-item .phone:hover {
    color: #000;
}

.common-info-contact .contact-item .phone:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    left: -23px;
    top: 2px;
    background: url(img/phone.svg) no-repeat;
    background-size: contain;
}

.common-info-contact .contact-item .mail:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    left: -23px;
    top: 2px;
    background: url(img/mail.svg) no-repeat;
    background-size: contain;
}

.common-info-contact .contact-item .github:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    left: -23px;
    top: 2px;
    background: url(img/github.svg) no-repeat;
    background-size: contain;
}
/* дополнительно */
.about {
    padding-right: 10px;
    padding-left: 30px;
    line-height: 1.5;
}
.about-title {
    text-align: left;
    padding: 0 0 7px 27px;
}
/* инструменты и навыки */
.tools {
    clear: left;
    line-height: 1.7;
}
.tools-title {
    text-align: left;
    padding: 0 0 7px 0;
}
.tools-categoty {
    display: inline-block;
    padding-left: 59px;
    vertical-align: top;
}
.tools .sublist {
    padding-left: 30px;
    list-style: none;
}
.tools .sublist .tools-list-item:before {
    padding-right: 7px;
    content: '\2013';
}
.technologies {
    width: 278px;
}

.instruments {
    width: 244px;
}
/* образование */
.education {
    padding-left: 20px;
    line-height: 1.5;
}
.education-title {
    text-align: left;
    padding: 0 0 7px 37px;
}
.education-list {
    list-style: none;
}
.education-years {
    display: inline-block;
    padding-right: 20px;
    width: 100px;
    color: #8A8383;
    vertical-align: top;
    text-align: right;
}
.education-item {
    padding: 4px 20px 4px 0;
}
.education-item:first-child .education-years {
    color: #000;
}
.education-item-text {
    display: inline-block;
    width: 496px;
}
/* опыт работы */
.experience-title {
    text-align: left;
    padding: 0 0 7px 57px;
}
.experience-company {
    padding-right: 10px;
    padding-left: 30px;
    line-height: 1.5;
}
.experience-scale {
    margin-top: 45px;
    margin-right: auto;
    margin-left: auto;
    width: 550px;
    height: 4px;
    background: rgb(207, 207, 207);
    list-style: none;
    font-size: 13px;
}
.experience-scale .scale-item {
    display: inline-block;
    margin-top: -38px;
    margin-left: 64px;
    width: 71px;
    vertical-align: top;
}
/* для последнего элемента с годом*/
.experience-scale .scale-item:first-child {
    margin-left: 0;
}
.experience-scale .scale-item:last-child {
    width: 0px;
}
.experience-scale .scale-item:before {
    position: relative;
    top: 33px;
    display: inline-block;
    width: 15px;
    height: 11px;
    border-radius: 5px;
    background: #364657;
    background: -webkit-radial-gradient(circle farthest-corner at 0px -3px, rgb(207, 207, 207), #364657);
    background: radial-gradient(circle farthest-corner at 0px -3px, rgb(207, 207, 207), #364657);
    content: '';
}
.experience-scale .scale-item-year {
    margin-left: -7px;
    padding-bottom: 20px;
}
.experience-scale .scale-item-position {
    display: block;
    margin-left: 32px;
    width: 90px;
    text-align: center;
    text-decoration: none;
}
.experience-scale .scale-item-position .item-position-name {
    border-bottom: 1px dotted;
    cursor: pointer;
    color: #000;
    border-color: #364657;
}
.experience-scale .scale-item-position .current-position {
    border-bottom: 0;
    cursor: default;
}
.experience-description {
    position: relative;
    display: none;
    margin: 70px auto 0;
    padding: 10px;
    width: 550px;
    border: 1px solid rgb(207, 207, 207);
    background: rgb(232, 232, 232);
    text-indent: 30px;
    font-size: 14px;
    line-height: 1.5;
}
.experience-description .description-text {
    margin-bottom: 7px;
}
.experience .current-description {
    display: block;
}
.experience .year2012:before {
    position: absolute;
    top: -6px;
    left: 75px;
    width: 10px;
    height: 10px;
    border-top: 1px solid rgb(207, 207, 207);
    border-left: 1px solid rgb(207, 207, 207);
    background: rgb(232, 232, 232);
    content: '';
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}
.experience .year2013:before {
    position: absolute;
    top: -6px;
    left: 215px;
    width: 10px;
    height: 10px;
    border-top: 1px solid rgb(207, 207, 207);
    border-left: 1px solid rgb(207, 207, 207);
    background: rgb(232, 232, 232);
    content: '';
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}
.experience .year2014:before {
    position: absolute;
    top: -6px;
    left: 350px;
    width: 10px;
    height: 10px;
    border-top: 1px solid rgb(207, 207, 207);
    border-left: 1px solid rgb(207, 207, 207);
    background: rgb(232, 232, 232);
    content: '';
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}
.experience .year2015:before {
    position: absolute;
    top: -6px;
    left: 490px;
    width: 10px;
    height: 10px;
    border-top: 1px solid rgb(207, 207, 207);
    border-left: 1px solid rgb(207, 207, 207);
    background: rgb(232, 232, 232);
    content: '';
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}
