/* общая информация, контакты */
.common-foto {
    float: left;
    padding-left: 25px;
    width: 175px;
}

.common-info {
    position: relative;
    top: 10px;
    left: 30px;

    &-title {
        padding-bottom: 7px;
    }

    &-contact {
        padding-top: 10px;
        list-style: none;
        position: relative;
        left: 24px;

        .contact-item {
            padding: 4px 0;

            .contact-link {
                @mixin link solid;
                border-color: #A09B9B;
                text-decoration: none;
                position: relative;

                &:hover {
                    color: #475C73;
                    border-color: #475C73;
                }
            }
            
            .phone {
                border: none;
                text-decoration: none;
                color: #000;
                
                &:hover {
                    color: #000;
                }
            }

            .phone:before {
                @mixin icon ../img/phone.svg;
            }

            .mail:before {
                @mixin icon ../img/mail.svg;
            }

            .github:before {
                @mixin icon ../img/github.svg;
            }
        }
    }
}
/* дополнительно */
.about {
    padding-right: 10px;
    padding-left: 30px;
    line-height: 1.5;

    &-title {
        @mixin title 27px;
    }
}