/* инструменты и навыки */
.tools {
    clear: left;
    line-height: 1.7;

    &-title {
        @mixin title 0;
    }
    
    &-categoty {
        display: inline-block;
        padding-left: 59px;
        vertical-align: top;
    }
            
        & .sublist {
            padding-left: 30px;
            list-style: none;

            .tools-list-item:before {
                padding-right: 7px;
                content: '–';
            }
        }
}
.technologies {
    width: 278px;
}

.instruments {
    width: 244px;
}